workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'

stages:
  - lint

shellcheck:
  stage: lint
  image:
    name: koalaman/shellcheck:stable
    entrypoint: [""]
  script:
    - shellcheck ./**/*.sh
