workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG
    - if: $CI_MERGE_REQUEST_IID

stages:
  - lint
  - terraform plan
  - terraform apply

shellcheck:
  stage: lint
  needs: []
  dependencies: []
  image:
    name: koalaman/shellcheck-alpine:stable
    entrypoint: [""]
  script:
    - shellcheck ./**/*.sh

cspell:
  stage: lint
  needs: []
  dependencies: []
  image:
    name: node:14-alpine
    entrypoint: [""]
  before_script:
    - npm install -g cspell
  script:
    - cspell lint --relative --no-progress --no-summary ./*/**
