# workflow:
#   rules:
#     - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
#     - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
#     - if: '$CI_COMMIT_TAG'

stages:
  - Open Merge Request
  - Reviewdog
# - helm
# - dependencies
# - build
# - package
# - prepare
# - deploy

Open Merge Request:
  image: tmaier/gitlab-auto-merge-request:1
  before_script: [] # We do not need any setup work, let's remove the global one (if any)
  variables:
    GIT_STRATEGY: none # We do not need a clone of the GIT repository to create a Merge Request
  stage: Open Merge Request
  only:
    - branches
  except:
    - $CI_COMMIT_REF_NAME == $CI_DEFAULT_BRANCH
    - $CI_MERGE_REQUEST_IID
  script:
    - merge-request.sh # The name of the script

Reviewdog:
  only:
    - branches
  except:
    - trunk
  stage: Reviewdog
  image: golang:latest
  cache:
    key:
      files:
        - go.sum
    paths:
      - .cache
  before_script:
    - curl -sL https://deb.nodesource.com/setup_14.x | bash -  # Setup NodeSource
    - apt-get update
    - apt-get install -y nodejs=14.16.1-1nodesource1 shellcheck=0.5.0-3
    - npm install -g cspell@5.4.0
    - curl -sfL https://raw.githubusercontent.com/reviewdog/reviewdog/master/install.sh | sh -s -- ~/bin
  script:
    -  ~/bin/reviewdog -diff="git diff $CI_DEFAULT_BRANCH" -reporter=local -tee
  variables:
    REVIEWDOG_GITLAB_API_TOKEN: $GITLAB_PRIVATE_TOKEN

# create image-pull secret:
#   stage: helm
#   needs: []
#   image:
#     name: bitnami/kubectl:1.18
#     entrypoint: [""]
#   script:
#     - kubectl create secret docker-registry gitlab-registry
#         --docker-server="$CI_REGISTRY"
#         --docker-username="$CI_DEPLOY_USER"
#         --docker-password="$CI_DEPLOY_PASSWORD"
#         --docker-email="$GITLAB_USER_EMAIL"
#         -o yaml --dry-run=client | kubectl apply -f -
#   environment:
#     name: cluster/gitlab-registry-secret
#     kubernetes:
#       namespace: default

# .helm_template:
#   stage: helm
#   needs: []
#   image:
#     name: alpine/helm:3.3.4
#     entrypoint: ['']
#   variables:
#     REPO: stable
#     CHART: '?'
#     CHART_VERSION: '?'
#     VALUES_FILE: '?'
#   before_script:
#     - echo -e "Working in \e[33m${PWD}\e[0m."

#     - chmod go-r $KUBECONFIG

#     - helm repo add stable https://kubernetes-charts.storage.googleapis.com

#     - helm repo add ingress-nginx https://kubernetes.github.io/ingress-nginx
#     - helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
#     - helm repo update

#     - RELEASE="${RELEASE:-$CHART}"

#     - echo -e "Using variables:"
#       "\n RELEASE       | \e[33m${RELEASE}\e[0m"
#       "\n RELEASE       | \e[33m${RELEASE}\e[0m"
#       "\n CHART         | \e[33m${CHART}\e[0m"
#       "\n CHART_VERSION | \e[33m${CHART_VERSION}\e[0m"
#       "\n VALUES_FILE   | \e[33m${VALUES_FILE}\e[0m"

#   script:
#     - helm upgrade
#       "$RELEASE"
#       "$REPO/$CHART"
#       --version "$CHART_VERSION"
#       --values "$VALUES_FILE"
#       --install
#       --create-namespace

# deploy ingress-nginx:
#   extends: .helm_template
#   variables:
#     REPO: ingress-nginx
#     CHART: ingress-nginx
#     CHART_VERSION: '3.3.0'
#     VALUES_FILE: helm/ingress-nginx.values.yml
#   environment:
#     name: cluster/ingress-nginx
#     kubernetes:
#       namespace: ingress-nginx

# install blog dependencies:
#   stage: dependencies
#   image: node:14.8.0
#   script:
#     - cd blog
#     - yarn install
#   artifacts:
#     paths:
#       - node_modules
#     expire_in: 1 week

# build blog:
#   stage: build
#   needs: ['install blog dependencies']
#   image:
#     name: klakegg/hugo:0.74.3
#     entrypoint: [""]
#   script:
#     - cd blog
#     - hugo
#   artifacts:
#     paths:
#       - blog/public

# package blog:
#   stage: package
#   needs: ['install blog dependencies', 'build blog']
#   image:
#     name: gcr.io/kaniko-project/executor:debug
#     entrypoint: [""]
#   script:
#     - cd blog

#     - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json

#     - /kaniko/executor
#         --context $CI_PROJECT_DIR/blog
#         --dockerfile $CI_PROJECT_DIR/blog/Dockerfile
#         --destination $CI_REGISTRY_IMAGE/blog:$CI_COMMIT_REF_SLUG

# prepare blog deployment:
#   stage: prepare
#   needs: []
#   image: ubuntu:20.04
#   script:
#     - apt-get update
#     - apt-get install -y software-properties-common
#     - add-apt-repository ppa:rmescandon/yq
#     - apt-get update
#     - apt-get install -y yq

#     - ./scripts/gen-blog-deploy.sh
#   environment:
#     name: review/$CI_COMMIT_REF_SLUG
#     action: prepare
#     kubernetes:
#       namespace: default
#   artifacts:
#     paths:
#       - ./build/kustomize
#     expire_in: 1 week

# deploy blog:
#   stage: deploy
#   needs: ['create image-pull secret', 'package blog', 'prepare blog deployment']
#   image:
#     name: bitnami/kubectl:1.18
#     entrypoint: [""]
#   script:
#     - kubectl apply -k ./build/kustomize
#   environment:
#     name: review/$CI_COMMIT_REF_SLUG
#     kubernetes:
#       namespace: default
