workflow:
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    - if: $CI_COMMIT_TAG
    - if: $CI_MERGE_REQUEST_IID

stages:
  - lint
  - terraform plan
  - terraform apply

shellcheck:
  stage: lint
  needs: []
  dependencies: []
  image:
    name: koalaman/shellcheck-alpine:stable
    entrypoint: [""]
  script:
    - shellcheck ./**/*.sh

cspell:
  stage: lint
  needs: []
  dependencies: []
  image:
    name: node:14-alpine
    entrypoint: [""]
  before_script:
    - npm install -g cspell
  script:
    - cspell lint --relative --no-progress --no-summary ./*/**

.terraform:
  image:
    name: hashicorp/terraform:1.0.2
    entrypoint: [""]
  variables:
    TF_IN_AUTOMATION: 'true'
    TF_HTTP_ADDRESS: https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/terraform/state/$CI_COMMIT_REF_SLUG
    TF_HTTP_USERNAME: gitlab-ci-token
    TF_HTTP_PASSWORD: $CI_JOB_TOKEN
    TF_HTTP_LOCK_ADDRESS: https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/terraform/state/$CI_COMMIT_REF_SLUG/lock
    TF_HTTP_UNLOCK_ADDRESS: https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/terraform/state/$CI_COMMIT_REF_SLUG/lock
    TF_HTTP_LOCK_METHOD: POST
    TF_HTTP_UNLOCK_METHOD: DELETE
  before_script:
    - cd infra
    - terraform init

tf-validate:
  extends:
    - .terraform
  stage: lint
  needs: []
  dependencies: []
  script:
    - terraform validate

tf-plan:
  extends:
    - .terraform
  stage: terraform plan
  needs:
    - tf-validate
  dependencies:
    - tf-validate
  script:
    - apk add --no-cache jq
    - terraform plan -out plan.tfplan
    - terraform show plan.tfplan | jq -f ../tf-plan.jq > plan.json
  artifacts:
    paths:
      - infra/plan.tfplan
    reports:
      terraform: infra/plan.json
