workflow:
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
    - if: '$CI_COMMIT_TAG'

stages:
  - lint

shellcheck:
  stage: lint
  needs: []
  dependencies: []
  image:
    name: koalaman/shellcheck-alpine:stable
    entrypoint: [""]
  script:
    - shellcheck ./**/*.sh

cspell:
  stage: lint
  needs: []
  dependencies: []
  image:
    name: node:14-alpine
    entrypoint: [""]
  before_script:
    - npm install -g cspell
  script:
    - cspell lint --relative --no-progress --no-summary ./*/**

tf-init:
  stage: tf-init
  needs: []
  dependencies: []
  image:
    name: hashicorp/terraform:1.0.0
    entrypoint: [""]
  variables:
    TF_HTTP_ADDRESS: https://gitlab.com/api/v4/projects/$CI_PROJECT_ID/terraform/state/$CI_COMMIT_REF_SLUG
    TF_HTTP_USERNAME: $CI_DEPLOY_USER
    TF_HTTP_PASSWORD: $CI_DEPLOY_PASSWORD
    TF_HTTP_LOCK_ADDRESS: $TF_HTTP_ADDRESS/lock
    TF_HTTP_UNLOCK_ADDRESS: $TF_HTTP_ADDRESS/lock
    TF_HTTP_LOCK_METHOD: POST
    TF_HTTP_UNLOCK_METHOD: DELETE
  before_script:
    - cd infra
  script:
    - terraform init
