[project]
name = "personal-docs-site"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"

[dependency-groups]
dev = [
    "myst-parser>=4.0.1",
    "sphinx-doc>=1.1.1",
]
